{% load static %}
<head>
    <script src="{% static '/js/htmx.min.js' %}"></script>
</head>
<body class="" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% if results %}
{% for i in results %}
<div class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <form class="relative" action="{% url 'channel_name' i.slug %}" method="GET">
        <button class="w-full text-left bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">
            <div class="flex items-center">
                <img class="w-5 h-5 text-gray-500 dark:text-gray-400 mr-3" src="{{ i.logo.url }}" alt="">
                <span class="block w-full text-sm text-gray-900 dark:text-white">{{ i.name }}</span>
            </div>
        </button>
    </form>
</div>
{% endfor %}
{% endif %}
</body>
